* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  gap: 5vw;
  height: 100vh;
}

.left, .right {
  display: flex;
  flex-direction: column;
}

.left {
  width: 40%;
}

.right {
  width: 70%;
}

.block1, .block4, .block2, .block3, .block5 {
  padding: 2vw;
}

.block1 {
  background-color: #f5e3d8;
  border: 0.1vw solid black;
  flex-grow: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block4 {
  border-right: 0.1vw solid black;
  border-left: 0.1vw solid black;
  border-bottom: 0.1vw solid black;
  background-color: #e6f4d4;
  flex-grow: 1;
}



.btn-swap {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  background-color: #4d60f1;
  color: white;
  border: none;
  cursor: pointer;
}

.block2 {
  background-color: #d0e3f7;
  border: 0.1vw solid black;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

.block-x {
  position: absolute;
  top: 25%;
  left: 5%;
  transform: translate(-10%, -10%);
  background-color: white;
  border: 0.1vw solid black;
  width: 140px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.block3 {
  background-color: white;
  border-left: 0.1vw solid black;
  border-right: 0.1vw solid black;
  flex-grow: 3;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.sub-block1-3, .sub-block2-3 {
  flex: 0 0 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sub-block1-3 {
  border-right: 0.1vw solid black;
  display: flex;
  gap: 1vw;
}

.btn-find {
  font-size: 0.9vw;
  border-radius: 20px;
  padding: 0.5rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.number-input {
  padding: 10px;
  font-size: 0.9vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  appearance: textfield;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.number-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.number-input::placeholder {
  color: #aaa;
  font-style: italic;
}

.block5 {
  background-color: #d0e3f7;
  border: 0.1vw solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 2vw;
  overflow: hidden;
  position: relative;
}

.block-y {
  position: absolute;
  left: 90%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  width: 140px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-block3 {
  text-align: left;
  max-width: 80%;
}

.sub-container-block2 {
  position: absolute;
  right: 4vw;
  top: 1%;
  width: 40vw;
  padding: 2vw;
}

.sub-container-block5 {
  width: 70%;
  padding: 1vw;
  position: absolute;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav-list li {
  margin: 20px 0;
}

.nav-list li a {
  text-decoration: none;
  color: #7a7a7a;
  font-size: 24px;
  font-weight: bold;
}

.nav-list li a:hover {
  color: #007bff;
  transition: color 0.3s;
}

.btn-crt {
  font-size: 24px;
  font-weight: bold;
  background-color: #f5e3d8;
  border: none;
}

.btn-crt:hover {
  color: red;
  transition: color 0.3s;
  cursor: pointer;
}

.btn-add, .btn-save, .btn-clr {
  font-size: 0.9vw;
  border-radius: 20px;
  padding: 0.5rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-save {
  margin: 0 20px 0 20px;
}

.list-input {
  padding: 10px;
  font-size: 0.9vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  appearance: textfield;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


.list-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.list-input::placeholder {
  color: #aaa;
  font-style: italic;
}


@media (max-width: 1400px) {
  .container {
    flex-direction: column;
    gap: 0;
  }

  .left, .right {
    width: 100%;
  }

  .block1, .block2, .block3, .block4, .block5 {
    flex-grow: 0;
    width: 100%;
    margin-bottom: 0.2vw;
  }

  .block2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .block-x {
    position: relative;
    width: 140px;
    height: 50px;
    padding: 1vw;
    font-size: 18px;
    top: 0;
  }

  .sub-container-block2 {
    position: relative;
    max-width: 100%;
    padding: 1vw;
    font-size: 17px;
  }

  .block5 {
    flex-direction: row;
    justify-content: space-between;
    padding: 2vw;
  }

  .sub-container-block5 {
    width: 70%;
    font-size: 17px;
    padding: 1vw;
    position: relative;
  }

  .block-y {
    width: 120px;
    font-size: 18px;
    height: 45px;
    top: 50%;
    left: 82%;
  }
}
